.home-dashboard{
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column
}

.grid-container{
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}
.cards{
	display: flex;
	text-align: center;
	align-items: center;	
	justify-content: center;	
	border: 1px black solid;
	width: 260px;
	height: 260px;
	margin: 10px;
	border-radius: 15px;
	box-shadow: 2px 2px 5px black;

}