
.home-container{
	height: 70vh;
	
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Podkova&display=swap');

.main-content{
	height: 50vh;
	display: flex;
	flex-direction: row;
	font-family: 'Podkova', serif;	
	justify-content:center;
	margin-top: 2rem;
}
.left-main-content{
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	width: 70%;	
	justify-content:center;
	line-height: 3rem;
}
	.main-h1{
	
		font-weight: 600;
		font-size: 4rem;
		line-height: 4rem;
		text-shadow: 3px 3px 0 #7ccf8d;
	}
	.btn-getstarted{
		width: 20%;
		height: 3rem;
		border-radius: 18px;
		background-color: #1ADB40;
		color: #fff;
		box-shadow: 5px 1px 5px black;
		font-family: 'Poppins', sans-serif;
	}

.right-main-content{
	width: 60%;
	display: flex;	
	align-content: center;
	justify-content:center;
}


.sub-container{
	height: 80vh;
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
}

.sub-content-card{
	display: flex;
	flex-direction: column;
	width: 300px;
	height:400px;
	border-radius: 20px;
	align-content: center;
	align-items: center;
	box-shadow: 2px 2px 2px black;
	background-color: #92E3A9;
	justify-content:center;
	text-align: center
}
.sub-content-card img {
	width: 150px; 
	height:150px;
}

.sub-text{
	height: 50vh;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	line-height: 3rem;
}

.sub-text h1{
	font-weight: 500;
	font-size: 3rem;
	line-height: 4rem;
}



.services-container{
	height: 65vh;
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: center;
	background-image: url(../images/bg-services.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;		
}
.services-grid{	
	width:100%;
	justify-content:center;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.services-card{
	display: flex;
	padding: 10px;
	border-radius: 20px;
  	justify-content: center;
	align-items: center;
	background-color: #92E3A9;
	margin: 40px;
	width: 20vw;
	height:15vh;
	box-shadow: 1px 3px 4px black;
	
}


.testimonials-container{
	height: 50vh;
	display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: space-between;
	background-color: #EAF1E5;	
}
.carousel-container {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
	padding: 30px;
    justify-content: space-between;
    align-items: center;
	align-content: center;
	background-color: #EAF1E5;

}


.city-wave{
	display: flex;
	justify-content: center;
}



.carousel-btn {
    display: flex;
}

.carousel-btn span {
    height: 20px;
    width: 20px;
    margin: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carousel-btn span::before {
    background-color: #fff;
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.carousel-btn span:hover::before {
    background-color: #45454d;
}

.carousel-btn span[data-quote="${active}"]::before {
    background-color: #45454d;
}
