
.home-container{
	height: 50vh;
	
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Podkova&display=swap');

.main-content{
	height: 30vh;
	display: flex;
	flex-direction: row;
	font-family: 'Podkova', serif;	
	
	justify-content:center;
	margin: 5rem;
}
.left-main-content{
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	width: 70%;	
	justify-content:center;
	line-height: 3rem;
}
	.main-h1{
	
		font-weight: 600;
		font-size: 4rem;
		line-height: 4rem;
		text-shadow: 3px 3px 0 #7ccf8d;
	}
	.btn-getstarted{
		width: 20%;
		height: 3rem;
		border-radius: 18px;
		background-color: #1ADB40;
		color: #fff;
		box-shadow: 5px 1px 5px black;
		font-family: 'Poppins', sans-serif;
	}

.right-main-content{
	width: 60%;
	display: flex;	
	align-content: center;
	justify-content:center;
}


.sub-container{
	height: 50vh;
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
}

.sub-content-card{
	display: flex;
	flex-direction: column;
	width: 300px;
	height:400px;
	border-radius: 20px;
	align-content: center;
	align-items: center;
	box-shadow: 2px 2px 2px black;
	background-color: #92E3A9;
	justify-content:center;
	text-align: center
}
.sub-content-card img {
	width: 200px; 
	height:200px;
}

.sub-text{
	height: 25vh;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin: 0px 100px 0px 100px;
	line-height: 3rem;
}

.sub-text h1{
	font-weight: 500;
	font-size: 3rem;
	line-height: 4rem;
}

.testimonials-container{
	height: 30vh;
}	

.services-container{
	height: 50vh;
}